.idea/misc.xml
.idea/modules.xml
.idea/ProyectoWeb.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/workspace.xml___jb_tmp___
.idea/typescript-compiler.xml
.idea/typescript-compiler.xml
.idea/typescript-compiler.xml
.idea/typescript-compiler.xml
.idea/typescript-compiler.xml
.idea/typescript-compiler.xml
*.xml
.idea/typescript-compiler.xml