<footer class="footer">
  <div class="row">
  <img class="PiePagina" src="" alt="">
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
    <p>Patio Tuerca © Todos los Derechos Reservados.</p>
    <p>Llámanos al 1700 TUERCA</p>
    <p> Usar este sitio implica aceptar nuestros Términos y Condiciones de Uso. Prohibida su reproducción total o parcial, así como su traducción a cualquier idioma sin autorización escrita de su titular..</p>
  </div>
  <div class="col-md-4"></div>
  </div>
</footer>

<br>
