<footer class="footer">
  <div class="row">
  <img class="PiePagina" src="" alt="">
  <div class="col-md-4">
    <img src="https://assets.domicilios.com/img/appstore.png" alt="">
  </div>
  <div class="col-md-4">
    <p>ECUAFEST © Todos los Derechos Reservados.</p>
    <p>Llámanos al 1700 ECUAFEST</p>
    <p> ® Derechos Reservados © 2014 www.quito-turismo.gob.ec
      Dirección: Parque Bicentenario, terminales del antiguo aeropuerto de Quito; Contacto: info@quito-turismo.gob.ec
      Horarios de Atención: Lunes a Viernes de 8h30 a 17:00 Apartado Postal: N/A
      Teléfonos: PBX (+593 2) 2993 300 al 2993 330 Fax: (+593 2) 2993 341 Página turística de la ciudad: www.quito.com.ec..</p>
  </div>
  <div class="col-md-4">
    <img src="https://www.adomicilioya.com/img/googleplay.jpg" alt="">
  </div>
  </div>
</footer>

<br>
