
<div class="cabecera" >
<div class="row">
  <div class="col-md-4">
    <img src="http://www.exportworld.com.ec/new/wp-content/uploads/2015/06/ecuafest_logo.png" alt="">
  </div>
  <div class="col-md-4">ECUAFEST</div>
  <div class="col-md-4"></div>
</div>
</div>
