
<div class="cabecera" >
<div class="row">
  <div class="col-md-4">
    <img src="http://www.exportworld.com.ec/new/wp-content/uploads/2015/06/ecuafest_logo.png" alt="">
  </div>
  <div class="col-md-4" id="ecuafest">ECUAFEST</div>
  <div class="col-md-4">
    <img src="http://www.muchosbesitos.com/imagex/aamuchbes/naciones/ecuador.gif" alt="">
  </div>
</div>
</div>
