<br>
<h1>Crear Festividad</h1>
<br>
<br>

<form action="/Festividad/crearFestividad" method="post">


  <div class="form-group row">
    <label for="nombreFest" class="col-2 col-form-label">Nombre Festividad</label>
    <div class="col-10">
      <input class="form-control"
             type="text"
             placeholder="Ingrese nombre Festividad"
             id="nombreFest"
             name="nombreFest"

      >
    </div>
  </div>

  <div class="form-group row">
    <label for="lugarFest" class="col-2 col-form-label">Lugar de Festividad</label>
    <div class="col-10">
      <input class="form-control" type="text"
             placeholder="Ingrese Lugar de Festividad"
             name="lugarFest"
             id="lugarFest">
    </div>
  </div>

  <div class="form-group row">
    <label for="mesFest" class="col-2 col-form-label">Mes de Festividad</label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Ingrese mes de Festividad"
             id="mesFest"
             name="mesFest">
    </div>
  </div>

  <div class="form-group row">
    <label for="imagenFest" class="col-2 col-form-label">Imagen</label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Ingrese el url de la imagen"
             name="imagenFest"
             id="imagenFest">
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
  <button type="button"
          class="btn btn-outline-secondary">Boton</button>

  <button
    class="btn btn-outline-success">Crear</button>

  <button type="reset"
          class="btn btn-outline-warning">Reset</button>
    </div>
    <div class="col-md-4"></div>
  </div>
</form>
<br>
<br>

