
<div class="col-md-6">
  <!-- Login Form -->
  <div class="nb-login">
    <h3 class="scenter">Sign In</h3>
    <form action="/Vista/login" method="post">
      <div class="form-group">
        <input type="email"
               class="form-control"
               placeholder="Ingresar Correo"
               id="correo"
               name="correo"
        >
      </div>
      <div class="form-group">
        <input type="password"
               class="form-control"
               placeholder="Ingresar Password"
               id="password"
               name="password">
      </div>
      <a href="/listaFestividad">
        <button  type="button"  class="btn btn-primary">Ingresar</button>
      </a>
    </form>
  </div>
</div>

