<h1>CREAR GASTRONOMIA</h1>

<form action="/Gastronomia/crearGastronomia" method="post">

  <div class="form-group row">
    <label for="nombreFest" class="col-2 col-form-label">Nombre Gastronomia</label>
    <div class="col-10">
      <input class="form-control"
             type="text"
             placeholder="Ingrese nombre Gastronomia"
             id="nombreFood"
             name="nombreFood">
    </div>
  </div>

  <div class="form-group row">
    <label for="mesFest" class="col-2 col-form-label">Descripcion de Gastronomia</label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Ingrese descripcion de Gastronomia"
             id="descripcionFood"
             name="descripcionFood">
    </div>
  </div>

  <div class="form-group row">
    <label for="imagenFest" class="col-2 col-form-label">Imagen</label>
    <div class="col-10">
      <input class="form-control"
             type="text"
             placeholder="Ingrese la url de la imagen"
             name="imagenFood"
             id="imagenFood">
    </div>
  </div>

  <button type="button"
          class="btn btn-outline-secondary">Boton</button>

  <button
    class="btn btn-outline-success">Crear</button>

  <button type="reset"
          class="btn btn-outline-warning">Reset</button>

</form>
